{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<body style="background-color: #ff6f61;">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <div class="card-panel center-align">
                    <h2>Log In</h2><br>
                    <form method="post">
                        {% csrf_token %}
                        <!-- Render fields manually -->
                        <div class="input-field">
                            {{ form.username.label_tag }}
                            {{ form.username }}
                            {% if form.username.errors %}
                                <div class="error">{{ form.username.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="input-field">
                            {{ form.password.label_tag }}
                            {{ form.password }}
                            {% if form.password.errors %}
                                <div class="error">{{ form.password.errors }}</div>
                            {% endif %}
                        </div>

                        <!-- Show non-field errors -->
                        {% if form.non_field_errors %}
                            <div class="error">
                                {% for error in form.non_field_errors %}
                                    {{ error }}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <button class="btn waves-effect waves-light blue" type="submit">Log In</button>
                    </form>
                    <p>Don't have an account? <a href="{% url 'login:register' %}">Sign up here</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}

{% block extra_css %}
{% endblock %}

{% block extra_js %}
{% endblock %}